<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-2.5.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

    <aop:aspectj-autoproxy/>

	<context:annotation-config />

	<bean id="eventStoreDataSource" destroy-method="close" 	class="org.apache.commons.dbcp.BasicDataSource">
	    <property name="driverClassName" value="com.mysql.jdbc.Driver" />
	    <property name="url" value="jdbc:mysql://localhost:3306/project_common" />
	    <property name="username" value="root" />
	    <property name="password" value="120822" />
	    <property name="initialSize" value="3" />
	    <property name="defaultAutoCommit" value="false" />
	</bean>

 	<bean id="mysqlJdbcEventStore" class="com.tianyalan.common.port.adapter.persistence.jdbc.MySQLJDBCEventStore" autowire="byName">
		<constructor-arg ref="eventStoreDataSource" />
	</bean>
	
</beans>
